@model AdminServer.Models.ClientConfig

<h2>@ViewBag.Title</h2>

 <!--action="~/Home/ConfigsSaved" method="get"-->
<p class="alert-info"><span class="glyphicon glyphicon-cog"></span><b>&nbsp;Current Configuration</b></p>
<p>
    Client process refresh period
    <input class="form-control" type="number" name="RefreshTime" value="@Model.RefreshTime" />
</p>
<p>
    Client reporting period
    <input class="form-control" type="number" name="ReportPeriod" value="@Model.ReportPeriod" />
</p>
<br />

<table class="table-bordered" id="root_group">
    <tr>
        <td height="200" width="100" align="center">
            <b>ADD</b>
            <br />
            <button class="btn alert-danger"><span class="glyphicon glyphicon-remove" /></button>
        </td>
        <td>
            <div id="root_criterias">

            </div>
            <button type="button" id="root_add_criteria" class="btn btn-default">Add criteria</button>
            <button type="button" id="root_add_group" class="btn btn-default">Add group</button>
        </td>
    </tr>
</table>
<br />
<br />



<button type="button" id="add_group" class="btn btn-default">Add group</button>
<br />
<br />
<button type="button" id="submit" class="btn btn-default btn-lg"><b> Update configs </b></button>
<br />

<div id="output" class="form-inline">
    
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>

    function addRow(element, id) {
        $(element).append(
            "<p id=\"form_" + id + "\">" +
                "<input class=\"form-control\" type=\"text\" id=\"field_" + id + "\" value=\"\" />" +
                "<input class=\"form-control\" type=\"text\" id=\"type_" + id + "\" value=\"\" />" +
                "<input class=\"form-control\" type=\"text\" id=\"compare_string_" + id + "\" value=\"\" />" +
                "<button class=\"btn alert-danger\" id=\"delete_" + id + "\">" +
                    "<span class=\"glyphicon glyphicon-remove\"></span>" +
                "</button>" +
            "</p>"); 
        $("#delete_" + id).click(function () {
            $(this.parentElement).remove();
        });
    }


    $("button[id^='test_add_']").each(function (i, elem) {
        $(elem).click(function () {
            $(this.parentElement).append("<p>Hi, hello, blya</p>");
        });
    });


    var rows = 0;
    $("#add").click(function () {
        rows++;
        
    });

    $("#submit").click(function () {
        var table = [];
        
        for (var i = 1; i <= rows; i++) {
            if ($("#form_" + i).length) {
                table.push( { field: $("#field_" + i).val(), type: $("#type_" + i).val(), compare_string: $("#compare_string_" + i).val() });
            }
        }

        var t = JSON.stringify(table);

        $("#output").append(t);

    });
    
</script>


