@model AdminServer.Models.ClientConfig

<h2>@ViewBag.Title</h2>

<form action="~/Home/ConfigsSaved" method="get">
    <p class="alert-info"><span class="glyphicon glyphicon-cog"></span><b>&nbsp;Current Configuration</b></p>
    <p>
        Client process refresh period
        <input class="form-control" type="number" name="RefreshTime" value="@Model.RefreshTime" />
    </p>
    <p>
        Client reporting period
        <input class="form-control" type="number" name="ReportPeriod" value="@Model.ReportPeriod" />
    </p>
    <br />
    <br />
        

    <button type="submit" class="btn btn-default btn-lg"><b> Update configs </b></button>
</form>

<div id="list" class="form-inline">
    
</div>
<button type="button" id="test" class="btn btn-default">Test</button>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var rows = 0;
    $("#test").click(function () {
        rows++;
        $("#list").append(
            "<p id=\"form_" + rows + "\">" +
                "<button class=\"btn alert-danger\" id=\"delete_" + rows + "\">" +
                    "<span class=\"glyphicon glyphicon-remove\"></span>" +
                "</button>" +
                "<input class=\"form-control\" type=\"text\" name=\"field_" + rows + "\" value=\"\" />" +
                "<input class=\"form-control\" type=\"text\" name=\"type_" + rows + "\" value=\"\" />" +
                "<input class=\"form-control\" type=\"text\" name=\"compare_string_" + rows + "\" value=\"\" />" +
            "</p>");

    });
</script>


